h1 {
  font-size: 32px;
  color: green;
  text-align : center;
}
p.right{text-align: right;
font-size: 1.2em;
text-decoration: underline;
color: indigo;
}
table {
  border: 2px;
  border-spacing: 5;
 }
td {	vertical-align: bottom;
 }
th {

 }
 a{
	color: green;
 }
  ul {
    list-style-image: url(book.png); /* Путь к изображению маркера */
   }